@import "tailwindcss";

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

html, body {
  width: 100%;
  scroll-behavior: smooth;
}


@keyframes aboutscroll {
  from { transform: translateX(0); }
  to { transform: translateX(calc(-100% * var(--n))); }
}

.animate-about-scroll {
  animation: aboutscroll var(--dur) linear infinite;
}

.animate-about-scroll:hover {
  animation-play-state: paused;
}


.linear-text {
  background: linear-gradient(to right, #c1c1c1, #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}